.main {
  display: flex;
}

.back{
  background: url("https://i.ibb.co/wc3vVG3/trampa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    overflow-y: auto; 
}

.login, .signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    border: #61dafb 1px solid;
    border-radius: 20px;
    padding: 20px;
    flex: 1;
    background-color: #0000006b;
    color: white
    ;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    background-color: #61dafb;
    color: black;
  }
  
  .error {
    color: red;
    margin-bottom: 1rem;
  }

  .logo-container {
    justify-content: center;

}
  
  @media (max-width: 768px) {
    .main {
      flex-direction: column;
        width: 84%;
    }
}