/* App.css */

h2 {
  text-align: center;
}

.trap-grid {
  padding: 20px;
}

.trap-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 2%;
}

.add-trap-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-trap-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  display: flex;
}

.add-trap-content form {
  display: flex;
  flex-direction: column;
}

.add-trap-content form label {
  margin-bottom: 10px;
}

.add-trap-content form input,
.add-trap-content form select {
  padding: 5px;
  margin-bottom: 10px;
  border: solid 1px;
  margin: 1% 2%;
  width: 50%;
}

.add-trap-content form button {
  padding: 10px;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.buttons button {
  margin: 1rem;
}

@media (max-width: 768px) {
  .add-trap-content {
    flex-direction: column;
    align-items: center;
  }
}