

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5%;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .buttons {
    display: flex;
    align-items: center;
  }
  
  .nav-button {
    background-color: #1eacb6 !important;
    border: none !important;
    margin-left: 10px !important;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #17a2b8 !important;
  }
  
  .logout-button {
    background-color: #dc3545 !important;
  }
  
  .logout-button:hover {
    background-color: #c82333 !important;
  }
  
  .profile-menu-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .profile-image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .profile-menu {
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #ffffff00;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
    width: 175px;
  }
  
  .profile-menu .nav-button {
    display: block;
    width: 100%;
    margin: 0.2rem;
    padding: 10px 20px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  .profile-menu .nav-button:last-child {
    border-bottom: none;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background-color: #1eacb6;
    margin: 4px 0;
    transition: 0.4s;
  }
    
  .hamburger::before,
  .hamburger::after {
    content: "";
    width: 25px;
    height: 3px;
    background-color: #1eacb6;
    margin: 4px 0;
    display: block;
    transition: 0.4s;
  }
  
  .buttons.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
  }

  .buttons.open button{
    width: 100%;
    margin: 0.1rem;
  }
  
  @media (max-width: 768px) {
    .buttons {
      display: none;
    }

    .buttons button {
        margin: 0.5rem;
    }
  
    .hamburger-menu {
      display: flex;
    }
  }
  