.trap-card {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid 2px #282c34;
    border-radius: 30px;
    cursor: pointer;
}

.trap-card img {
    width: 75%;
    margin-top: 15px;
    border-radius: 30px;
}